h1,h2,h3,h4,h5,h6
{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold !important;
  /* font-size: 3.5rem !important; */
  line-height: 1.5 !important;
}

.btn
{
  visibility: hidden;
}

@media (max-width: 991px)

{

  h1,h2,h3,h4,h5,h6
  {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold !important;
    font-size: 2rem !important;
    line-height: 1.5 !important;
  }

  .rotateimg180{

  position: static !important;
  transform: rotate(0deg) !important;
  width: 120% !important;

  }

  body
  {
    text-align: center !important;
  }

  .toptit
  {
    text-align: center;
  }
}

.mbody
{
  font-family: 'Montserrat' , sans-serif;
}

.navbar
{
  padding-bottom: 4.5rem !important;
  padding: 0 0 4.5rem !important;
}

.navbar-brand
{
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 2.2rem !important;
  font-weight: bold !important;
}

.nav-item
{
  padding: 0 15px !important;
}

.nav-link
{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: normal !important;
  font-size: 1.2rem !important;
}

.toptit
{
  font-family: 'Montserrat' , sans-serif;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1.5;
  color: white;
}

.container-fluid
{
  padding: 2% 15% 9% !important;
}

.dwnld-btn
{
  margin: 5% 3% 5% 0;
}

.rotateimg180 {


    width: 120%;
    padding: 5% 10% 6% 16%;
    position: absolute;

}


#title
{
  background-color: #ff4c68;
}

/* Features */



#features
{
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
}

.feat-moji
{
  font-size: 5rem !important;
}

.txt-aln
{
  text-align: center;
  padding-right: 1%;
}

.feat-h3
{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.clr
{
  color: #ef8172;
  margin-bottom: 1rem;

}

.clr:hover
{
  color: #ff4c68;

}

.fnt-clr
{
  color: #8f8f8f;
}

/* Testimonials */

.testi-pic
{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item
{
      padding: 5% 15%;
}

#testimonials
{

  text-align: center;
  background-color: #ef8172;
  color: white;
}



/* Press Section */

.blg-site
{
  margin: 15px;
  width: 15%;
}

#press
{
  padding-bottom: : 4% 15%;
  text-align: center;
  background-color: #ef8172;

}

/* Pricing */

#pricing
{
  padding: 5% 15%;
  text-align: center;

}

.pric-h2
{
  font-size: 3rem !important;
}

.pric-col
{
  padding: 3% 2%;
}

.bt-size
{
  width: 100%;
}
/* CTA */

.cta-h3
{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 900 !important;
  font-size: 3.5rem !important;
  line-height: 1.5 !important;
  color: white;
  margin-bottom: 30px !important;
}

#cta
{
  padding: 7% 15%;
  background-color: #ff4c68;
  text-align: center;
}

/* Footer */

i
{
    font-size: 1.5rem;
    margin: 15px;
}
#footer{

  text-align: center;
  padding: 7% 15%;

}
